* {
  font-family: "Playfair Display", serif;
}

.header-cont {
  border: 3px outset #4a4a4a;
}

header {
  text-align: center;
  background-color: hsl(171, 100%, 41%);
  font-size: 3rem;
  font-weight: 600;
}


.showtimes-header {
  font-weight: bold;
  font-size: 1.1rem;
}

.showtimes-item {
  margin: 10px;
}

.showtimes-time {
  background: #1ca352;
  color: white;
  font-weight: bold;
}
body{
  background-color: lightgray;
}
