@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  background-color: black;
  color: white;
  padding-bottom: 10px;
}

header .h1 {
  font-family: "Poppins", sans-serif;
  border-bottom: 4px solid white;
  font-weight: bolder;
  margin: 0 60px;
}

.fas {
  margin-top: 10px;
}

i {
  padding-left: 10px;
  padding-right: 10px;
}

.movie-title {
  cursor: pointer;
}

.showtimes-header {
  font-weight: bold;
  font-size: 1.1rem;
}

.showtimes-item {
  margin: 10px;
}

.showtimes-time {
  background: #1ca352;
  color: white;
  font-weight: bold;
}

label {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  font-weight: bold;
}

.box {
  cursor: pointer;
}

.box {
  box-shadow: 10px 12px 5px -5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 12px 5px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 12px 5px -5px rgba(0, 0, 0, 0.46);
}
